#dark-mode-toggle {
  --inner-size: 0.6rem;
  --padding-size: 0.3rem;
  padding: var(--padding-size);

  --inner-color: var(--dark);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light);
  border-color: var(--dark);
  border-style: solid;
}

#dark-mode-toggle .inner {
  background-color: var(--inner-color);
  width: var(--inner-size);
  height: var(--inner-size);
}

#dark-mode-toggle:hover {
  background-color: var(--dark);
  border-color: var(--light);
  --inner-color: var(--light);
}
