#theme-bar {
  border-style: solid;
  border-width: 0.2rem;
  border-color: var(--dark);
  background-color: var(--light);

  width: 50%;
  height: 50%;
  padding: 3rem;

  display: flex;
  align-items: center;
}

#themes {
  display: flex;
  justify-content: center;
  align-items: center;
}

#themes {
  flex-wrap: wrap;
  gap: 1rem;
}

.theme {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

#theme-bar-modal {
  width: 100vw;
  height: 100vh;

  z-index: 99;
  position: fixed;
  top: 0;
  visibility: visible;

  display: flex;

  justify-content: center;
  align-items: center;
}

#theme-bar-modal.hidden {
  visibility: hidden;
}
