#bio ul {
  list-style: disc;
}

#about a {
  text-decoration: underline;
}

#about section {
  margin-bottom: 1.5rem;
}

#bio-wrapper {
  display: flex;
  gap: 3rem;
}

#bio svg {
  border-style: solid;
  border-color: var(--dark);
  border-width: 0.2rem;
  background-color: var(--light);

  --size: 12rem;
  min-width: var(--size);
  min-height: var(--size);
}

#bio svg > rect {
  fill: var(--dark);
}

.image-wrapper {
  width: 30%;
}

.text-wrapper {
  width: 70%;
}
