#bio ul {
  list-style: disc;
}

#about a {
  text-decoration: underline;
}

#about section {
  margin-bottom: 1.5rem;
}

#bio-wrapper {
  display: flex;
  gap: 3rem;
}

#bio svg {
  border-style: solid;
  border-color: var(--dark);
  border-width: 0.2rem;
  background-color: var(--light);

  --size: 12rem;
  min-width: var(--size);
  min-height: var(--size);
}

#bio svg > rect {
  fill: var(--dark);
}

.image-wrapper {
  width: 30%;
}

.text-wrapper {
  width: 70%;
}

/* Mobile */
@media only screen and (max-width: 1100px) {
  #bio-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .text-wrapper {
    width: 100%;
    text-align: justify;
  }

  .image-wrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .image-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .text-wrapper {
    text-align: left;
  }
}
