/* Variables */
:root {
  /* Colours */
  --light: #f0f6f0;
  --dark: #222323;

  /* Values */

  /* Sizing */
  font-size: 24px;
  --site-header-indent: 5rem;
  --page-margins: 2rem var(--site-header-indent);
}

/* Font family & important styles */
html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow-y: scroll;
}

/* Resets */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Stop scrolling */

body.menu-open {
  overflow-y: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--light);
  border-style: none solid;
  border-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}
