/* Variables */
:root {
  /* Colours */
  --light: #f0f6f0;
  --dark: #222323;

  /* Values */

  /* Sizing */
  --site-header-indent: 2.5rem;
  --page-margins: 2rem 3em;
}

/* Font family */
html {
  font-family: "Poppins", sans-serif;
}

/* Resets */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  font-size: 24px;
}
