#navbar {
  background-color: var(--light);
  font-size: 0.8rem;
  border-style: solid none;
  border-color: var(--dark);

  padding: 0.8rem var(--site-header-indent);

  display: flex;
  justify-content: left;
  align-items: center;
}

#socials,
#pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#pages {
  margin-right: 3rem;
  margin-left: 3rem;
}

.nav-link {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;

  padding: 0.3rem;

  background-color: var(--light);
  color: var(--dark);
  border-style: solid;
  border-color: var(--dark);

  --anim-duration: 0.05s;
  transition: transform linear var(--anim-duration),
    box-shadow linear var(--anim-duration);
}

.nav-link:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.2rem var(--dark);
}
