.keyboard-shortcut {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 1.5rem;
  margin-bottom: 0.3rem;
}

.keystroke {
  display: flex;
  align-items: left;
  gap: 0.2rem;
  height: min-content;
}

.keystroke p {
  font-size: 1.2rem;
  margin: 0;
  height: min-content;
  font-weight: 600;
}

.key-button {
  background-color: var(--dark);
  color: var(--light);
  border-style: solid;
  border-color: var(--dark);
  border-radius: 0.5rem;
  height: fit-content;
  width: fit-content;
  padding: 0.1rem 0.4rem;
}

.pressed {
  background-color: var(--light);
  color: var(--dark);
}
