#cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resume {
  width: 80%;
  aspect-ratio: 17 / 22;
  border-color: var(--dark);
  border-width: 2px;
}
