/* Header */
#site-header {
  padding: 2rem var(--site-header-indent);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}

#site-title {
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 2.4rem;
}

/* Page specific */
.page {
  margin: var(--page-margins);
}

.page h1 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
