/* Header */
#site-header {
  padding: 2rem var(--site-header-indent);
}

#site-title {
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

/* Page specific */
.page {
  margin: var(--page-margins);
}

.page h1 {
  margin-bottom: 0.5em;
}
